<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Calculator</title>
</head>
<body>
    <div class="base_calculator">
        <header>
            <nav>
                <a>Standard</a>
                <a>Scientific</a>
            </nav>
        </header>

        <div class="calculations">
            <p class="calculation_performed">45 X 8 ÷ 2</p>
            <p type="numero" id="result"></p>
        </div>

        <div class="numbers_and_formulas">
            <table>
                <tr>
                    <td><button class="minor_expression" onclick="clean()">C</button></td>
                    <td><button class="minor_expression" >%</button></td>
                    <td><button class="minor_expression" >±</button></td>
                    <td><button class="bigger_expression" onclick="insert('/')">÷</button></td>
                </tr>
                <tr>
                    <td><button class="number" onclick="insert('7')">7</button></td>
                    <td><button class="number" onclick="insert('8')">8</button></td>
                    <td><button class="number" onclick="insert('9')">9</button></td>
                    <td><button class="bigger_expression" onclick="insert('*')">x</button></td>
                </tr>
                <tr>
                    <td><button class="number" onclick="insert('4')">4</button></td>
                    <td><button class="number" onclick="insert('5')">5</button></td>
                    <td><button class="number" onclick="insert('6')">6</button></td>
                    <td><button class="bigger_expression" onclick="insert('-')">-</button></td>
                </tr>
                <tr>
                    <td><button class="number" onclick="insert('1')">1</button></td>
                    <td><button class="number" onclick="insert('2')">2</button></td>
                    <td><button class="number" onclick="insert('3')">3</button></td>
                    <td><button class="bigger_expression" onclick="insert('+')">+</button></td>
                </tr>
                <tr>
                    <td><button class="minor_expression" onclick="backspace()"><img src="/x-square-light.png" alt=""></button></td>
                    <td><button class="number" onclick="insert('0')">0</button></td>
                    <td><button class="number" onclick="insert('.')">.</button></td>
                    <td><button class="bigger_expression result" onclick="calculate()">=</button></td>
                </tr>
            </table>
        </div>

    </div>
    <script src="/scripts.js"></script>
</body>
</html>
