<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Calculator</title>
</head>
<body>
    <div class="base_calculator">
        <header>
            <nav>
                <a>Standard</a>
                <a>Scientific</a>
            </nav>
        </header>

        <div class="calculations">
            <p class="calculation_performed">45 X 8 ÷ 2</p>
            <input type="numero" class="result" placeholder="180">
        </div>

        <div class="numbers_and_formulas">
            <button class="minor_expression">C</button>
            <button class="minor_expression">%</button>
            <button class="minor_expression">±</button>
            <button class="bigger_expression">÷</button>
            <button class="number">7</button>
            <button class="number">8</button>
            <button class="number">9</button>
            <button class="bigger_expression">x</button>
            <button class="number">4</button>
            <button class="number">5</button>
            <button class="number">6</button>
            <button class="bigger_expression">-</button>
            <button class="number">1</button>
            <button class="number">2</button>
            <button class="number">3</button>
            <button class="bigger_expression">+</button>
            <button class="minor_expression"><img src="/x-square-light.png" alt=""></button>
            <button class="number">0</button>
            <button class="number">.</button>
            <button class="bigger_expression result">=</button>
        </div>

    </div>
</body>
</html>
